# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/

# Pytest
.pytest_cache/

# VS Code
.vscode/

# JetBrains
.idea/

# SQLite databases
*.db
*.sqlite3

# OS
.DS_Store
Thumbs.db